@use 'variable' as*;
#home {
    height:100vh;
    width:100vw;
    background-image: url('./images/background.jpg');
    background-position: center center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

    .content {
        margin: 0 auto;
        .title {
            text-align:center;
            color:$blanc;
            margin-bottom:3em;
            width:100vw;
            h2 {
                font-size:3em;
                line-height:1em;
            }
            p {
                font-size:1.5em;
                line-height:1em;
            }
        }
        .row-search {
            margin:0 auto;
            max-width:980px;
            justify-content: space-between;
            align-items: stretch;
            .card {
                background:$blanc;
                border-radius:$border-radius;
                padding:2em;
                display:flex;
                flex-direction: column;
            }
            #search {
                &.card {             
                    input {
                        background:$gris;
                        border:0;
                        border-radius:$border-radius;
                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size:1.1em;
                        padding:1em;
                        &#calendrier {
                            margin-top:2em;
                        }
                        
                        &[type='submit'] {
                            background:$vert;
                            margin-top:2em;
                            color:$blanc;
                            transition:all .5s;
                            cursor:pointer;

                            &:hover {
                                background:$noir;
                                color:$vert;
                            }

                        }

                    }
                }
            }
            #search-result {
                span {
                    &.separator {
                        width:100%;
                        height:2px;
                        display:block;
                        background:$vert;
                    }
                }
            }
        }
    }
}