@use "variable" as *;
@use "header" as *;
@use "index" as *;
@use "cart" as *;
@use "booking" as *;

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  &:before {
    opacity:0;
    transition: all .5s;
  }
  &.active {
    &:before {
      background-color:$noir;
      content:'';
      width:100vw;
      height:100vh;
      display:block;
      opacity:0.5;
      position:absolute;
      top:0;
      left:0;

    }
  }
}
.container {
  padding: 1em 2em;
  .row {
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
a {
  color: $vert;
  text-decoration: none;
}

button {
  background: $vert;
  margin-top: 2em;
  color: $blanc;
  transition: all 0.5s;
  cursor: pointer;
  border: 0;
  border-radius: $border-radius;
  padding: 1em 2em;

  &:hover {
    background: $noir;
    color: $vert;
  }
}

// popup
#popadd {
  display:none;
  opacity:0;
  transition: all .5s;
  &.open {
    position: absolute;
    top:calc(50% - 2em);
    background: $blanc;
    padding:2em;
    left:calc(50% - 175px);
    width:350px;
    height:fit-content;
    z-index:999999;
    border-radius:$border-radius;
    text-align:center;
    display:block;
    opacity:1;
  }

  p {
    font-weight: 600;
    color:$vert;
  }
  div {
    position:absolute;
    background:$vert;
    padding:1em;
    border-radius:100%;
    width:25px;
    height:25px;
    font-weight: 800;
    color:$blanc;
    top:-25px;
    left: -25px;
    cursor:pointer;

  }
}
