header {
  background-color: #ffffff;
}
header .row {
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
header .row nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
@media (max-width: 600px) {
  header .row nav ul {
    flex-direction: column;
  }
}
header .row nav ul li {
  padding: 1em 1em;
  background: #f9f9f9;
  transition: all 0.5s;
}
header .row nav ul li a {
  color: #010101;
  transition: all 0.5s;
}
header .row nav ul li:hover {
  background: #50a990;
}
header .row nav ul li:hover a {
  color: #ffffff;
}
header .row nav ul li.active {
  background: #50a990;
}
header .row nav ul li.active a {
  color: #ffffff;
}

#home {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/background.jpg");
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#home .content {
  margin: 0 auto;
}
#home .content .title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 3em;
  width: 100vw;
}
#home .content .title h2 {
  font-size: 3em;
  line-height: 1em;
}
#home .content .title p {
  font-size: 1.5em;
  line-height: 1em;
}
#home .content .row-search {
  margin: 0 auto;
  max-width: 980px;
  justify-content: space-between;
  align-items: stretch;
}
#home .content .row-search .card {
  background: #ffffff;
  border-radius: 15px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  min-width: 35%;
  max-width: 100%;
}
@media (max-width: 600px) {
  #home .content .row-search .card {
    min-width: fit-content !important;
  }
}
#home .content .row-search #search.card input {
  background: #f9f9f9;
  border: 0;
  border-radius: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  padding: 1em;
}
#home .content .row-search #search.card input#calendrier {
  margin-top: 2em;
}
#home .content .row-search #search-result span.separator {
  width: 100%;
  height: 2px;
  display: block;
  background: #50a990;
}
#home .content .row-search #search-result #result-null {
  text-align: center;
}
#home .content .row-search #search-result #result-null img {
  width: 70%;
  height: auto;
}
#home .content .row-search #search-result #result-null.search-result {
  overflow: scroll;
  max-height: 250px;
}
#home .content .row-search #search-result #result-null .triprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #f9f9f9;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
}
#home .content .row-search #search-result #result-null .triprow button {
  margin-top: 0;
}
#home .content .row-search #search-result #result-null .triprow .price {
  color: #50a990;
  font-weight: 600;
}
#home .content .row-search #search-result #result-null .triprow:last-child {
  margin-bottom: 0;
}

#mycart {
  height: 100vh;
}
#mycart.container {
  justify-content: center;
  align-content: center;
}
#mycart.container .row {
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  max-width: 850px;
}
#mycart.container .row .rowTrips {
  background: #f9f9f9;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mycart.container .row .rowTrips .depArr {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
#mycart.container .row .rowTrips .depArr .town {
  font-weight: 800;
  color: #50a990;
}
#mycart.container .row .rowTrips .price {
  color: #50a990;
  font-weight: 800;
}
#mycart.container .row .rowTrips .deletebtn {
  margin-top: 0;
  aspect-ratio: 1/1;
  width: 35px;
  height: 35px;
  padding: 0.3em;
  border-radius: 100%;
}
#mycart.container .row .totalrow {
  padding: 2em 1em;
  background: #50a990;
  border-radius: 0 0 15px 15px;
  color: #ffffff;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}
#mycart.container .row .totalrow .purchasebtn {
  margin-top: 0;
  background: #f9f9f9;
  color: #50a990;
  font-weight: 800;
  transition: all 1s;
}
#mycart.container .row .totalrow .purchasebtn:hover {
  background: #010101;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}
body:before {
  opacity: 0;
  transition: all 0.5s;
}
body.active:before {
  background-color: #010101;
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  padding: 1em 2em;
}
.container .row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .container .row {
    flex-direction: column;
  }
}

a {
  color: #50a990;
  text-decoration: none;
}

button {
  background: #50a990;
  margin-top: 2em;
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
  padding: 1em 2em;
}
button:hover {
  background: #010101;
  color: #50a990;
}

#popadd {
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
#popadd.open {
  position: absolute;
  top: calc(50% - 2em);
  background: #ffffff;
  padding: 2em;
  left: calc(50% - 175px);
  width: 350px;
  height: fit-content;
  z-index: 999999;
  border-radius: 15px;
  text-align: center;
  display: block;
  opacity: 1;
}
#popadd p {
  font-weight: 600;
  color: #50a990;
}
#popadd div {
  position: absolute;
  background: #50a990;
  padding: 1em;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-weight: 800;
  color: #ffffff;
  top: -25px;
  left: -25px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
